#user-form{
    .buttons{
        .inverted{
            margin-bottom: 10px;
        }
        button{
            margin: auto;
            display: block;
        }
    }
    .MuiFormControl-root {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 0;
    }
}