@import '../../variable.scss';
.sign-in{
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width:$break-desktop) {
        width: 30vw;
    }
    .title{
        margin: 10px 0;
        text-align: center;
        @media screen and (min-width:$break-desktop) {
            text-align: start;
        }
    }

    .description{
        text-align: center;
        @media screen and (min-width:$break-desktop) {
            text-align: start;
        }
    }

    .form-group {
        @media screen and (min-width:$break-desktop) {
            margin: 45px 0;
        }
    }
    
    .buttons{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .primary-button{
            margin: 0 auto 20px;
            text-align: center;
            @media screen and (min-width:$break-desktop) {
                margin-left: 0;
            }
        }
    }

    .error-message{
        text-align: center;
        color:red;
    }
}