@import '../../variable.scss';
.category-create{
    display: flex;
    flex-direction: column;
    width: 380px;

    .title{
        margin: 0px 0 10px;
        text-align: center;
    }

    .description{
        text-align: center;
    }

    .primary-button{
        margin: 40px auto 10px;
    }
}