@import '../../variable.scss';
.user-icon{
    margin-top:  auto;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    @media screen and (min-width: $break-tablet){
      padding: 0 10px;
    }
    svg{
      width: 26px;
      height: 26px;
      align-self: center;
    }
  }