.user-dropdown {
    position: absolute;
    width: 240px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: calc(100% + 20px);
    right: 0;
    z-index: 5;
  
    .user-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }
    .empty-message {
      font-size: 18px;
      margin: 0 10px;
      text-align: center;
      display: block;
      padding-bottom: 10px;
    }
    button {
      margin: 0 auto 10px;
    }
  }
  