@import '../../variable.scss';
.cart-icon {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @media screen and (min-width: $break-tablet){
      padding-left: 10px;
      position: relative;
    }
    .shopping-icon {
      width: auto;
      height: 25px;
      @media screen and (min-width: $break-tablet){
        margin-top: -2px; 
      }
    }
  
    .item-count {
      position: absolute;
      font-size: 10px;
      font-weight: bold;
      bottom: 4px;
      @media screen and (min-width: $break-tablet){
        bottom: 2px;
      }
    }
  }
  