@import '../../variable.scss';
.sign-up{
    display: flex;
    flex-direction: column;
    width: 380px;

    .title{
        margin: 10px 0;
        text-align: center;
        padding-top: 20px;
        @media screen and (min-width:$break-desktop) {
            text-align: start;
            padding-top: 0px;
        }
    }

    .description{
        text-align: center;
        @media screen and (min-width:$break-desktop) {
            text-align: start;
        }
    }

    .form-group {
        @media screen and (min-width:$break-desktop) {
            margin: 45px 0;
        }
    }

    .primary-button{
        margin: auto;
        @media screen and (min-width:$break-desktop) {
            margin-left: 0;
        }
    }
}