@import '../../variable.scss';

#navbar-header{
  position: fixed;
  width: 100%;
  z-index: 60;
  height: 60px;
}
.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      width: auto;
      height: auto;
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin: auto 0;
      @media screen and (min-width: $break-tablet){
        flex-direction: column;;
      }
      svg{
        height: 30px;
        width: auto;
        @media screen and (min-width: $break-tablet){
          width: 50px;
          height: auto;
        }
      }
    }

    a{
        text-decoration: none;
        color: black;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .item {
        padding: 10px 15px;
        margin: auto 0;
      }
      .cart-icon, .user-icon{
        margin: auto 0;
      }
    }

    .hambuguer-menu{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: auto 0 0;
      height: 25px;
    }
    
    .dropdown-navbar{
      position: fixed;
      width: 100%;
      top: 60px;
      height: auto;
      background: white;
      left: 0;
      box-shadow: 0 4px 8px rgba(0,0,0,.1);
      z-index: 30;
      overflow-y: hidden;
      transform: scaleY(0);
      transform-origin: top;
      transition: .4s;
      .item{
        padding: 10px 0;
        display: block;
      }
    }

    .right-items-mobile{
      display: flex;
      margin: auto 0;
      height: 30px;
      justify-content: space-between;
      width: 100px;
      position: relative;
      @media screen and (min-width: $break-tablet){
        height: auto;
        width: auto;
        justify-content: flex-start;
      }
    }
  }
  