@import '../../variable.scss';
.navbar {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      svg{
        width: 40px;
        @media screen and (min-width: $break-tablet){
          width: 50px;
        }
      }
    }

    a{
        text-decoration: none;
        color: black;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .item {
        padding: 10px 15px;
        margin-top: auto;
      }
      .cart-icon{
        margin-top: auto;
      }
    }

    .hambuguer-menu{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 15px;
    }
    
    .dropdown-navbar{
      position: fixed;
      width: 100%;
      top: 70px;
      height: auto;
      background: white;
      left: 0;
      box-shadow: 0 4px 8px rgba(0,0,0,.1);
      z-index: 30;
      overflow-y: hidden;
      transform: scaleY(0);
      transform-origin: top;
      transition: .4s;
      .item{
        padding: 10px 0;
        display: block;
      }
    }

    .right-items-mobile{
      display: flex;
      margin-top: 15px;
      .hambuguer-menu{
        margin-left: 20px;
      }
      .cart-icon{
        margin-top: 2px;
      }
    }
  }
  