.search-navbar{
    position: relative;
    &-icon{
        width: auto;
        height: 26px;
    }
    &-input{
        position: fixed;
        top: 30px;
        width: 100%;
        padding: 0 20px;
        left: 0;
        input{
            width: 100%;
        }
        &-delete{
            position: absolute;
            top: 10px;
            height: 25px;
            width: auto;
            right: 10px;
        }
        .form-group{
            position: relative;
            background-color: white;
        }
    }
    &-items{
        margin-top: -25px;
    }
    &-item{
        background-color: white;
        margin: 0;
        padding: 5px 0;
    }
}