.admin-button{
    display: flex;
    align-self: center;
    margin-top: 5px;
    margin-left: 20px;
}

hr{
    margin-top: 30px;
}

.category-dropdown{
    padding-left: 20px;
    margin: auto;
    .btn{
        color: black;
        background: white;
    }
}

.category-dropdown.show{
    .btn{
        color: white;
        background: black;
    }
}

.edit-category{
    padding: 30px 0;
    max-width: 300px;
    &-item{
        display: flex;
        width: 100%;
        padding: 5px 0;
        &-name{
            font-size: 20px;
        }
        &-icon{
            cursor: pointer;
            padding: 5px;
            height: 30px;
            width: 30px;
        }
    }
}